/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body{
  background-color: #010101;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #fff;
}
.margin{
  margin-top: 8rem;
}

input{
  padding: 1rem;
  background-color: #36454F;
  color: #fff;
  font-size: 1rem;
}

.group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

select{
  padding: 1rem;
}

.rate{
  color: #5fbaa7;
  margin-top: 1rem;
  text-align: center;
}